.header {
    width: 700px;
    margin: auto;   
}

.header1 {
    padding: 10px;  
}

.item {
    display: flex;
    margin-top: 20px;
}
.item_left {
    width:25%;
    height: 35px;
    background-color: rgb(72, 165, 80);
    padding-left: 15px;
    line-height: 35px;
    margin-right: 20px;
    color: #fff;
}

.item_right {
    height: 35px;
    width: 70%;
    outline: none;  
}

.drop {
    height: 35px;
    width: 100%;
    cursor: pointer;
    padding-left: 5px;
    outline: none;   
}

.key{
    height: 30px;
    width:98% ;
    padding: 0px 0px 0px 5px; 
    cursor: text;
}

.key::after {
    background-color: #fff;
}

.item_seach {
    width: 30%;
    justify-content: space-between;
    margin: 20px auto;

}

.search {
    width: 45%;
    height: 35px;
    display: block;
    background-color: rgb(72, 165, 80); 
    border: none;
    color: #fff;  
    cursor: pointer;
    border-radius: 5px;
}

/* Màn hình show */

.show_sv {
    margin-left: 20px;
    margin-bottom: 10px;
}
.add {
    margin-left: 530px;
    background-color: rgb(72, 165, 80); 
    padding: 10px 35px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.them {
    color: #fff;
    text-decoration: none;
    
}

.header2 {
    display: flex;
}

thead {
    text-align: left;
}

.item_table {
    width: 100%;
    margin: 10px 20px 20px 20px;
    border-spacing: 15px;
}

.table_right {
    background-color: rgb(72, 165, 80); 
    text-align: center;
    padding: 4px 5px;
    color: #fff;
    border: none;
    cursor: pointer;
}
 